* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $main-bg-color;
  background-color: #ecf0f3;
  // background: url(../images/bg-6.svg) center no-repeat;
  color: $main-text-color;
  font-family: $default-family;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

a {
  display: block;
  color: white;

  margin: 1rem 0;
}

.new-message {
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  float: left;
  clear: both;
}

.my-message {
  background-color: green;
  float: right;
}

// body {
//   background: url(../images/undraw_lost_online_wqob_2.svg) center no-repeat;
// }

.login {
  width: 430px;
  height: 700px;
  padding: 60px 25px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

#sup_stranger {
  // background: url(../images/logo_2.svg) center no-repeat;
  height: 50px;
  margin: 0 auto;
  // box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
  //   -8px 9px 15px #ffffff;
}

.greeting {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.todo {
  text-align: center;
  font-size: 15px;
  padding-top: 3px;
}

.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}

.fields {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}

.nickname {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.anon-chat {
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  font-size: 19px;
  font-weight: 600px;
  color: #fff;
  text-align: center;
  background: #08c466;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.anon-chat:hover {
  background: #000;
}

.illustraion {
  height: 380px;
  margin: 0;

  img {
    margin-top: 30px;
    width: 350px;
  }
}
